{% extends "lab10/base.html" %}

{% block content %}
    <h1>Login</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label>
            <input type="checkbox" name="remember_me"> Remember me
        </label>
        <button type="submit">Login</button>
    </form>
{% endblock %}