<!doctype html>
<html>
    <head>
        <title>Список машин</title>
    </head>
    <style>
        img {
            max-height: 200px;
        }
        div {
            display: inline-block;
            border: 5px solid;
            border-radius: 15px;
            width: 450px;
            padding: 7px;
            margin: 3px 0;
        }
    </style>
    <body>
        <h1>Список Машин</h1>
        {% for car in cars %}
            <div>
                <h2>{{ car.title }}</h2>
                <p>{{ car.description }}</p>
                <img src="{{ url_for('static', filename=car.image) }}" alt="{{ car.title }}">
            </div>
        {% endfor %}
    </body>
</html>