<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование статьи</title>
</head>
<body>
    <h1>Редактирование статьи</h1>
    <form method="POST">
        <label>Название: <input type="text" name="title" value="{{ article['title'] }}"></label><br>
        <label>Текст: <textarea name="content">{{ article['article_text'] }}</textarea></label><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>