<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список статей</title>
</head>
<body>
    <h1>Список статей</h1>
    {% if has_articles %}
        {% for article in articles %}
            <h2>{{ article['title'] }}</h2>
            <p>{{ article['article_text'] }}</p>
            <a href="/lab5/edit/{{ article['id'] }}">Редактировать</a>
            <form action="/lab5/delete/{{ article['id'] }}" method="POST" style="display: inline;">
                <button type="submit">Удалить</button>
            </form>
        {% endfor %}
    {% else %}
        <p>У вас пока нет статей.</p>
    {% endif %}
    <a href="/lab5">На главную</a>
</body>
</html>