body {
    background: linear-gradient(90deg, rgb(115, 140, 145) 22%, rgb(25, 25, 214) 66%, rgb(201, 36, 138) 100%);
}
h1 {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-transform: uppercase;
}
div {
    text-align: center;
}
img {
    width: 40%;
    height: auto;
    border-radius: 20px;
    border: 10px solid white;
}